.add-comment {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.comment-container .add-comment {
  padding: 2rem 0 0;
}

.add-comment-box {
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  border-radius: 1.6rem;
  display: flex;
  column-gap: 1.2rem;
  padding: 2.4rem;

  width: 75rem;
}

.add-comment-avatar {
  width: 3.5rem;
  height: 3.5rem;
}

.form-add-comment {
  display: flex;

  column-gap: 1.2rem;
  flex: 1;
}

.textarea-comment {
  color: var(--color-neutral-01);
  border: 0.2rem solid var(--color-neutral-03);
  border-radius: 0.8rem;
  display: inline-block;
  padding: 1rem 2rem;
  transition: all 250ms ease-in-out;
  flex: 1;
}

.btn-form {
  align-self: flex-start;
}

@media screen and (max-width: 600px) {
  .add-comment {
    padding: 0 2rem;
  }

  .add-comment-box {
    border-radius: 1rem;
    position: relative;
    padding: 1.5rem;
    padding-bottom: 5rem;
    max-width: 48rem;
  }

  .form-add-comment {
    margin: 0 0 2rem;
  }

  .add-comment-avatar {
    position: absolute;
    bottom: 1rem;
  }
}
